<nav class="fixed-top" id="akt-nave" >
<div class="container-fluid w3ghor-menu ">
 <span id="chptr-id" class="hormenu_a" style="color:white;cursor:pointer;"> <i class="fa fa-bars" aria-hidden="true"></i> </span>
 <a href="#" class="hormenu_a">
  <i class="material-icons">home</i> </a>
        <a href="#" class="hormenu_a course1"><span> c </span></a>
      <a href="#" class="hormenu_a course1"><span> html </span></a>
      <a href="#" class="hormenu_a course1"><span> css </span></a>
      <a href="#" class="hormenu_a course1"><span> js </span></a>
      <a href="#" class="hormenu_a course1"><span> php </span></a>
      <a href="#" class="hormenu_a course1"><span> python </span></a>
<span class="float-right text-white pt-2">dashboard</span>
</div>
</nav>