<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="python,c language,css,javascript,bootstrap">
    <meta name="description" content="software development programming language tutorials for python,c language,html,css, JavaScript">
    <!-- Latest compiled and minified CSS -->
    <!-- https://fastapi.tiangolo.com/advanced/templates/#using-jinja2templates -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css?v=1.70">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?v=1.70" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Aldrich'  >
    <link rel="stylesheet" href="{{url_for('static',path='/assets/css/style.css')}}?v=1.70" >
    <link rel="stylesheet" href="{{url_for('static',path='/assets/css/footer.css')}}?v=1.70" >
    <link rel="stylesheet" href="{{url_for('static',path='/assets/css/tutorials.css')}}?v=1.70" >
    <link rel="stylesheet" href="{{url_for('static',path='/assets/css/repositorytutorial.css')}}?v=1.70" >
    <link rel="stylesheet" href="{{url_for('static',path='/assets/css/akt-style.css')}}?v=1.70" >
    {% endblock %}    
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=1.70"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js?v=1.70"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js?v=1.70"></script>
<script src="{{url_for('static',path='/assets/js/backend.js')}}?v=1.70" ></script>
<script src="{{url_for('static',path='/assets/js/akt-menu-root.js')}}?v=1.70"></script>
</body>
</html>

