<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>dashboard</title>
<meta name="keywords" content="python,c language,css,javascript,bootstrap">
<meta name="description" content="software development programming language tutorials for python,c language,html,css, JavaScript">
<!-- Latest compiled and minified CSS -->
<!-- https://fastapi.tiangolo.com/advanced/templates/#using-jinja2templates -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css?v=1.70">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?v=1.70" >
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Aldrich'  >
<link rel="stylesheet" href="{{url_for('static',path='/assets/css/style.css')}}?v=1.70" >
<link rel="stylesheet" href="{{url_for('static',path='/assets/css/footer.css')}}?v=1.70" >
<link rel="stylesheet" href="{{url_for('static',path='/assets/css/tutorials.css')}}?v=1.70" >
<link rel="stylesheet" href="{{url_for('static',path='/assets/css/repositorytutorial.css')}}?v=1.70" >
<link rel="stylesheet" href="{{url_for('static',path='/assets/css/akt-style.css')}}?v=1.70" >
</head>
<body>
<nav class="fixed-top" id="akt-nave" >
<div class="container-fluid w3ghor-menu ">
 <span id="chptr-id" class="hormenu_a" style="color:white;cursor:pointer;"> <i class="fa fa-bars" aria-hidden="true"></i> </span>
 <a href="https://www.comsysapp.com/dashboard" class="hormenu_a">
  <i class="material-icons">home</i> </a>
        <a href="https://www.comsysapp.com/c/c-home" class="hormenu_a course1"><span> c </span></a>
      <a href="https://www.comsysapp.com/html/html-introduction" class="hormenu_a course1"><span> html </span></a>
      <a href="https://www.comsysapp.com/css/css-introduction" class="hormenu_a course1"><span> css </span></a>
      <a href="https://www.comsysapp.com/javascript/js-home" class="hormenu_a course1"><span> js </span></a>
      <a href="https://www.comsysapp.com/php/php-home" class="hormenu_a course1"><span> php </span></a>
      <a href="https://www.comsysapp.com/python/python-introduction" class="hormenu_a course1"><span> python </span></a>
<span class="float-right text-white pt-2">dashboard</span>
</div>
</nav>
<div class="container-fluid" style="margin-top:60px;">
<h1 class="text-center">comsysapp.com</h1>
<p class="text-center h4">विद्यां ददाति विनयं,विनयाद् याति पात्रताम् । <br> पात्रत्वात् धनमाप्नोति,धनात् धर्मं ततः सुखम् ॥</p>
<h2 class="akt-hd"> Programming language and technologies tutorials  </h2>
<div class="row">
             <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/c/c-home">  C</a>
        </div>
        </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/html/html-introduction">  HTML</a>
        </div>
        </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/css/css-introduction">  CSS</a>
        </div>
        </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/javascript/js-home">  JavaScript</a>
        </div>
        </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/php/php-home">  PHP</a>
        </div>
        </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/python/python-introduction">  Python</a>
        </div>
        </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <div class="course">
        <a href="https://www.comsysapp.com/mysql/Install-mysql-in-ubuntu">  MySQL</a>
        </div>
        </div>
                </div>
</div>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <div class="list-group">
     
         
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-tutorial" class="list-group-item list-group-item-action">Fastapi Alembic Migration</a>
        
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-jwt-authentication" class="list-group-item list-group-item-action">FastAPI Authentication using JWT</a>
        
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-sqlalchemy-crud" class="list-group-item list-group-item-action">Select, Insert, Update and Delete in fastapi using sqlalchemy orm</a>
        
            <a href="https://www.comsysapp.com/ref/postgresql/postgresql-tutorial" class="list-group-item list-group-item-action">postgresql tutorial</a>
        
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-framework-email" class="list-group-item list-group-item-action">Send email from FastAPI framework application</a>
        
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-static" class="list-group-item list-group-item-action">Upload file in FastAPI framework application</a>
        
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-jinja2" class="list-group-item list-group-item-action">How to use jinja2 template engine in FastAPI framework</a>
        
            <a href="https://www.comsysapp.com/ref/FastAPI/fastapi-supervisor-nginx-deployment" class="list-group-item list-group-item-action">How to deploy fastapi application with supervisor and nginx</a>
        
            <a href="https://www.comsysapp.com/ref/Docker/docker-commands" class="list-group-item list-group-item-action">Docker Commands</a>
         </div>        </div>
    </div>
</div>
    
<div class="container-fluid">     
   <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">   
       <div class="aktgithub"><h2>FasAPI Tutorials</h2>
<p>Step by step learn fastAPI tutorial.</p>
<h2>how to clone project from github?</h2>
<pre><code>atul@atul-Lenovo-G570:~$ git clone https://github.com/atulkrishnathakur/fasterp.git
</code></pre>
<h2>How to generate requirements.txt in python?</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 freeze &gt; requirements.txt
</code></pre>
<h2>how to get pip version?</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 --version

# Or

(env) atul@atul-Lenovo-G570:~/fasterp$ pip --version

# you can see version is same.
# It means you can use pip3 or pip both command in virtual environment
</code></pre>
<h2>How to install fastapi using pip?</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip install &quot;fastapi[standard]&quot;
</code></pre>
<h2>How to run the uvicorn server?</h2>
<p>The command uvicorn main:app refers to:</p>
<ol>
<li>main: the file main.py (the Python &quot;module&quot;).</li>
<li>app: the object created inside of main.py with the line app = FastAPI().</li>
<li>--reload: make the server restart after code changes. Only use for development.</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ uvicorn main:app --reload
</code></pre>
<h2>How to install sqlalchemy ORM in fastapi?</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 install sqlalchemy
</code></pre>
<h2>how to install psycopg2-binary?</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 install psycopg2-binary
</code></pre>
<h2>How to install alembic to create migrations in fastapi?</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 install alembic
</code></pre>
<p>Below command will create an alembic directory with necessary configuration files.</p>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic init alembic
</code></pre>
<h2>How to configure alembic.ini file?</h2>
<p>You can see alembic.ini file outside of alembic directory. The alembic.ini file path is fasterp/alembic.ini.</p>
<pre><code>sqlalchemy.url = postgresql://postgres:123456789@localhost:5432/fasterp_db
</code></pre>
<h2>How to create database connection with sqlalchemy ORM?</h2>
<ol>
<li>create fasterp/database directory</li>
<li>create the fasterp/database/dbconnection.py file</li>
</ol>
<pre><code>from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# SQLALCHEMY_DATABASE_URL = &quot;sqlite:///./sql_app.db&quot;
SQLALCHEMY_DATABASE_URL = &quot;postgresql://postgres:123456789@localhost:5432/fasterp_db&quot;

engine = create_engine(SQLALCHEMY_DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()
</code></pre>
<h2>create the database/models/<strong>init</strong>.py file</h2>
<ol>
<li>create the database/model directory</li>
<li>create the database/model/<strong>init</strong>.py file</li>
<li>import the created model in database/model/<strong>init</strong>.py file</li>
</ol>
<pre><code>from .country import Country
</code></pre>
<h2>How to configure env.py of alembic?</h2>
<p>Open the alembic/env.py and add below line of code</p>
<pre><code>*******************

from database.dbconnection import Base # by atul

from database.model import * # by atul
target_metadata = Base.metadata

***********************
</code></pre>
<h2>Auto Migration in alembic</h2>
<p>If you want alembic handles migrations follow this method: In the alembic folder edit env.py and find target_metadata line and edit like the following</p>
<p>import the &quot;from main import Base&quot; in alembic/env.py file and set the &quot;target_metadata = Base.metadata&quot; in alembic/env.py file</p>
<p>Reference url <a href="https://fastapi.blog/blog/posts/2023-07-20-fastapi-sqlalchemy-migrations-guide">https://fastapi.blog/blog/posts/2023-07-20-fastapi-sqlalchemy-migrations-guide</a></p>
<h2>Generating a Migration by alembic</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic revision --autogenerate -m &quot;Initial Migration&quot;
</code></pre>
<h2>create contries table in database</h2>
<ol>
<li>create table by help of <a href="https://docs.sqlalchemy.org/en/20/core/metadata.html">https://docs.sqlalchemy.org/en/20/core/metadata.html</a>
</li>
</ol>
<pre><code>from database.dbconnection import Base
from sqlalchemy import Column, Integer, String, DateTime
from datetime import datetime

class Country(Base):
    __tablename__ = 'countries'
    
    id = Column('id',Integer, primary_key=True, index=True)
    country_name = Column('country_name',String(255),nullable=False)
    status = Column('status',Integer,default=1,nullable=True)
    created_at = Column('created_at',DateTime, default=datetime.utcnow, nullable=True)
    updated_at = Column('updated_at',DateTime, default=datetime.utcnow, onupdate=datetime.utcnow,nullable=True)
</code></pre>
<h2>rollback(downgrade) last migration of alembic</h2>
<p>reference of help: <a href="https://python-code.dev/articles/270017224">https://python-code.dev/articles/270017224</a></p>
<ol>
<li>downgrade the last migration command: alembic downgrade -1</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic downgrade -1
</code></pre>
<h2>rollback(downgrade) specific migration of alembic</h2>
<p>reference of help: <a href="https://python-code.dev/articles/270017224">https://python-code.dev/articles/270017224</a></p>
<ol>
<li>(method-1): get the latest revision ID. command: alembic current</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic current
</code></pre>
<p>2.(method-2): You can also get the revision ID from alembic migration file. Go to alembic/versions directory and open the any one migration file. For example 1eaa2206f60f_add_nullable_in_states_table.py here 1eaa2206f60f is the revision ID.</p>
<p>3.(method-3) You can also get the revision ID from alembic migration file. Go to alembic/versions directory and open the any one migration file. For example opent the 1eaa2206f60f_add_nullable_in_states_table.py in this file revision: str = '1eaa2206f60f' you will get.
Note: down_revision: Union[str, None] = '4b268ddeef0d' is the just previous migration file revision ID. If you see down_revision: Union[str, None] = None . Here you will see None instead of previous file revision ID. It means this is the first migration file.</p>
<ol start="3">
<li>rollback(downgrade) the specific migration command: alembic downgrade &lt;revision_id&gt;</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic downgrade 1eaa2206f60f
</code></pre>
<h2>rollback(downgrade) the all migrated files of alembic</h2>
<p>Reference: <a href="https://alembic.sqlalchemy.org/en/latest/tutorial.html#downgrading">https://alembic.sqlalchemy.org/en/latest/tutorial.html#downgrading</a></p>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic downgrade base
</code></pre>
<h2>upgrade the all migrations file</h2>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic upgrade head
</code></pre>
<h2>relationship and back_populates</h2>
<ol>
<li>country.py file module</li>
</ol>
<pre><code>from database.dbconnection import Base
from sqlalchemy import Column, Integer, String, DateTime
from sqlalchemy.orm import relationship
from datetime import datetime

class Country(Base):
    __tablename__ = 'countries'
    
    id = Column('id',Integer, primary_key=True, index=True)
    country_name = Column('country_name',String(255),nullable=False)
    status = Column('status',Integer,default=1,nullable=True)
    created_at = Column('created_at',DateTime, default=datetime.utcnow, nullable=True)
    updated_at = Column('updated_at',DateTime, default=datetime.utcnow, onupdate=datetime.utcnow,nullable=True)
    country = relationship('Country', back_populates='state')
</code></pre>
<ol start="2">
<li>state.py file module</li>
</ol>
<pre><code>from database.dbconnection import Base
from sqlalchemy import Column, Integer, String, DateTime, ForeignKey
from sqlalchemy.orm import relationship 
from datetime import datetime

class State(Base):
    __tablename__ = 'states'
    
    id = Column('id',Integer, primary_key=True, index=True)
    state_name = Column('state_name',String(255),nullable=False)
    countries_id = Column('countries_id',Integer,ForeignKey('countries.id'),nullable=True)
    status = Column('status',Integer,default=1,nullable=True)
    created_at = Column('created_at',DateTime, default=datetime.utcnow, nullable=True)
    updated_at = Column('updated_at',DateTime, default=datetime.utcnow, onupdate=datetime.utcnow,nullable=True)
    state = relationship('Country', back_populates='country')
</code></pre>
<ol start="3">
<li>country = relationship('Country', back_populates='state') of country.py file country variable used in back_populates='country' in state.py file.</li>
<li>state = relationship('Country', back_populates='country') of state.py file state variable used in back_populates='state' in country.py file.</li>
</ol>
<h2>How see sql query before migration?</h2>
<p>reference: <a href="https://alembic.sqlalchemy.org/en/latest/offline.html">https://alembic.sqlalchemy.org/en/latest/offline.html</a></p>
<ol>
<li>method-1: run the command to show sql in console. command: alembic upgrade head --sql</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic upgrade head --sql
</code></pre>
<ol start="2">
<li>method-2: run the command to write sql queries in a file before migration. command: alembic upgrade head --sql &gt; state.sql</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic upgrade head --sql &gt; state.sql
</code></pre>
<h2>How to see hostory of all migrated migrations</h2>
<p>Reference: <a href="https://alembic.sqlalchemy.org/en/latest/tutorial.html">https://alembic.sqlalchemy.org/en/latest/tutorial.html</a></p>
<ol>
<li>run the command to see history of all migrated files</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic history --verbose
</code></pre>
<h2>How to use already created database in sqlalchemy</h2>
<ol>
<li>install the sqlacodegen-v2. reference: <a href="https://pypi.org/project/sqlacodegen-v2/">https://pypi.org/project/sqlacodegen-v2/</a>
</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 install sqlacodegen_v2[citext]
</code></pre>
<ol start="2">
<li>create a model in models.py for full database</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp/database/model$ sqlacodegen_v2 postgresql://postgres:123456789@localhost:5432/fasterp_db &gt; models.py
</code></pre>
<ol start="3">
<li>create a model file for every table</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp/database/model$ sqlacodegen_v2 postgresql://postgres:123456789@localhost:5432/fasterp_db --tables countries &gt; country.py

# Or

(env) atul@atul-Lenovo-G570:~/fasterp/database/model$ sqlacodegen_v2 postgresql://postgres:123456789@localhost:5432/fasterp_db --tables countries states &gt; location.py
</code></pre>
<p>Note: currently sqlcodegen does not support python3.12 therefore I used sqlacodegen_v2. If sqlacodegen support your python version then use it.</p>
<ol start="4">
<li>create the migration</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic revision --autogenerate -m &quot;initial migration&quot;
</code></pre>
<ol start="5">
<li>Comment the all code of upgrade() and downgrade() funciton and use the pass keyword</li>
</ol>
<pre><code>def upgrade() -&gt; None:
    # ### commands auto generated by Alembic - please adjust! ###
    # op.drop_table('country')
    # ### end Alembic commands ###
    pass


def downgrade() -&gt; None:
    # ### commands auto generated by Alembic - please adjust! ###
    # op.create_table('country',
    # sa.Column('id', sa.BIGINT(), autoincrement=False, nullable=False),
    # sa.Column('name', sa.TEXT(), autoincrement=False, nullable=True),
    # sa.PrimaryKeyConstraint('id', name='country_pkey')
    # )
    # ### end Alembic commands ###
    pass
</code></pre>
<ol start="5">
<li>migrate the this file</li>
<li>create a new migration file to add new column
Note: do not use --autogenerate in command to create migration</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic revision -m &quot;initial add new column&quot;
</code></pre>
<p>Change migration file to add column like below:</p>
<pre><code>&quot;&quot;&quot;initial add new column

Revision ID: 84af06e88411
Revises: 4f6d19b3053b
Create Date: 2024-10-14 11:06:55.899661

&quot;&quot;&quot;
from typing import Sequence, Union

from alembic import op
import sqlalchemy as sa


# revision identifiers, used by Alembic.
revision: str = '84af06e88411'
down_revision: Union[str, None] = '4f6d19b3053b'
branch_labels: Union[str, Sequence[str], None] = None
depends_on: Union[str, Sequence[str], None] = None


def upgrade() -&gt; None:
    op.add_column('country', sa.Column('code', sa.BigInteger))

def downgrade() -&gt; None:
    op.drop_column('country', 'code')

</code></pre>
<ol start="7">
<li>update new column in the model</li>
</ol>
<pre><code>from sqlalchemy import BigInteger, Column, PrimaryKeyConstraint, Text
from sqlalchemy.orm import Mapped, declarative_base, mapped_column
from sqlalchemy.orm.base import Mapped

Base = declarative_base()


class Country(Base):
    __tablename__ = 'country'
    __table_args__ = (
        PrimaryKeyConstraint('id', name='country_pkey'),
    )

    id = mapped_column(BigInteger)
    name = mapped_column(Text)
    code = mapped_column(Text, nullable=True)  # Add the new column here
</code></pre>
<ol start="8">
<li>create new migration to creatte new table</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic revision -m &quot;create account table&quot;
</code></pre>
<p>change the migration file to crate table</p>
<pre><code>&quot;&quot;&quot;create account table

Revision ID: 33f75298723e
Revises: 84af06e88411
Create Date: 2024-10-14 11:26:56.240932

&quot;&quot;&quot;
from typing import Sequence, Union

from alembic import op
import sqlalchemy as sa


# revision identifiers, used by Alembic.
revision: str = '33f75298723e'
down_revision: Union[str, None] = '84af06e88411'
branch_labels: Union[str, Sequence[str], None] = None
depends_on: Union[str, Sequence[str], None] = None


def upgrade() -&gt; None:
    op.create_table(
        'account',
        sa.Column('id', sa.Integer, primary_key=True),
        sa.Column('name', sa.String(50), nullable=False),
        sa.Column('description', sa.Unicode(200)),
    )


def downgrade() -&gt; None:
    op.drop_table('account')

</code></pre>
<ol start="9">
<li>create the model file for account table</li>
</ol>
<h2>SQL Datatype Objects for sqlalchemy</h2>
<p>Reference: <a href="https://docs.sqlalchemy.org/en/20/core/types.html">https://docs.sqlalchemy.org/en/20/core/types.html</a></p>
<h2>Cascades for sqlalchemy</h2>
<p>Reference: <a href="https://docs.sqlalchemy.org/en/20/orm/cascades.html">https://docs.sqlalchemy.org/en/20/orm/cascades.html</a></p>
<h2>timezone setting</h2>
<ol>
<li>install the pytz for timezone</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ pip3 install pytz
</code></pre>
<h2>Table Configuration with Declarative for mapped_column</h2>
<p>Reference: <a href="https://docs.sqlalchemy.org/en/20/orm/declarative_tables.html">https://docs.sqlalchemy.org/en/20/orm/declarative_tables.html</a></p>
<h2>How to configure alembic for multiple schema of postgresql</h2>
<ol>
<li>create alembic directory in your project</li>
<li>create hr and sales directory in alembic directory</li>
<li>Initialize Alembic within each schema-specific directory:</li>
</ol>
<pre><code>alembic -c alembic/hr/alembic.ini init alembic/hr
alembic -c alembic/sales/alembic.ini init alembic/sales
</code></pre>
<ol start="4">
<li>Configure alembic/hr/alembic.ini and alembic/sales/alembic.ini. Set the same database for both. If database name is different then you write diffent database name.</li>
</ol>
<pre><code>script_location = alembic/hr
sqlalchemy.url = postgresql://postgres:123456789@localhost:5432/fasterp_db
</code></pre>
<pre><code>script_location = alembic/sales
sqlalchemy.url = postgresql://postgres:123456789@localhost:5432/fasterp_db
</code></pre>
<ol start="5">
<li>create include_object() function in alembic/hr/env.py and sales/env.py file</li>
<li>set version_table_schema= 'hr'</li>
<li>create the model/hr/<strong>init</strong>.py and model/sales/<strong>init</strong>.py</li>
<li>change in alembic/hr/.env file</li>
</ol>
<pre><code>from logging.config import fileConfig

from sqlalchemy import engine_from_config
from sqlalchemy import pool

from alembic import context
from database.dbconnection import Base # by atul
from database.dbconfig import SCHEMA_HR

# this is the Alembic Config object, which provides
# access to the values within the .ini file in use.
config = context.config

# Interpret the config file for Python logging.
# This line sets up loggers basically.
if config.config_file_name is not None:
    fileConfig(config.config_file_name)

# add your model's MetaData object here
# for 'autogenerate' support
# from myapp import mymodel
# target_metadata = mymodel.Base.metadata
from database.model.hr import * # by atul
target_metadata = Base.metadata

# other values from the config, defined by the needs of env.py,
# can be acquired:
# my_important_option = config.get_main_option(&quot;my_important_option&quot;)
# ... etc.


def run_migrations_offline() -&gt; None:
    &quot;&quot;&quot;Run migrations in 'offline' mode.

    This configures the context with just a URL
    and not an Engine, though an Engine is acceptable
    here as well.  By skipping the Engine creation
    we don't even need a DBAPI to be available.

    Calls to context.execute() here emit the given string to the
    script output.

    &quot;&quot;&quot;
    schema_name = SCHEMA_HR
    url = config.get_main_option(&quot;sqlalchemy.url&quot;)
    context.configure(
        url=url,
        target_metadata=target_metadata,
        literal_binds=True,
        dialect_opts={&quot;paramstyle&quot;: &quot;named&quot;},
        version_table_schema=schema_name
    )

    with context.begin_transaction():
        context.run_migrations()


def run_migrations_online() -&gt; None:
    &quot;&quot;&quot;Run migrations in 'online' mode.

    In this scenario we need to create an Engine
    and associate a connection with the context.

    &quot;&quot;&quot;
    def include_object(object, name, type_, reflected, compare_to):
        if type_ == &quot;table&quot; and object.schema == SCHEMA_HR:
            return True
        return False

    connectable = engine_from_config(
        config.get_section(config.config_ini_section, {}),
        prefix=&quot;sqlalchemy.&quot;,
        poolclass=pool.NullPool,
    )

    with connectable.connect() as connection:
        schema_name = SCHEMA_HR
        context.configure(
            connection=connection,
            target_metadata=target_metadata,
            version_table_schema=schema_name,
            include_object=include_object,
            include_schemas=True
        )

        with context.begin_transaction():
            context.execute(f&quot;SET search_path TO {schema_name}&quot;)
            context.run_migrations()


if context.is_offline_mode():
    run_migrations_offline()
else:
    run_migrations_online()

</code></pre>
<ol start="9">
<li>change in alembic/sales/.env</li>
</ol>
<pre><code>from logging.config import fileConfig

from sqlalchemy import engine_from_config
from sqlalchemy import pool

from alembic import context
from database.dbconnection import Base # by atul

# this is the Alembic Config object, which provides
# access to the values within the .ini file in use.
config = context.config

# Interpret the config file for Python logging.
# This line sets up loggers basically.
if config.config_file_name is not None:
    fileConfig(config.config_file_name)

# add your model's MetaData object here
# for 'autogenerate' support
# from myapp import mymodel
# target_metadata = mymodel.Base.metadata
from database.model.sales import * # by atul
target_metadata = Base.metadata
from database.dbconfig import SCHEMA_SALES

# other values from the config, defined by the needs of env.py,
# can be acquired:
# my_important_option = config.get_main_option(&quot;my_important_option&quot;)
# ... etc.


def run_migrations_offline() -&gt; None:
    &quot;&quot;&quot;Run migrations in 'offline' mode.

    This configures the context with just a URL
    and not an Engine, though an Engine is acceptable
    here as well.  By skipping the Engine creation
    we don't even need a DBAPI to be available.

    Calls to context.execute() here emit the given string to the
    script output.

    &quot;&quot;&quot;
    schema_name = SCHEMA_SALES
    url = config.get_main_option(&quot;sqlalchemy.url&quot;)
    context.configure(
        url=url,
        target_metadata=target_metadata,
        literal_binds=True,
        dialect_opts={&quot;paramstyle&quot;: &quot;named&quot;},
        version_table_schema=schema_name
    )

    with context.begin_transaction():
        context.run_migrations()


def run_migrations_online() -&gt; None:
    &quot;&quot;&quot;Run migrations in 'online' mode.

    In this scenario we need to create an Engine
    and associate a connection with the context.

    &quot;&quot;&quot;
    def include_object(object, name, type_, reflected, compare_to):
        if type_ == &quot;table&quot; and object.schema == SCHEMA_SALES:
            return True
        return False

    connectable = engine_from_config(
        config.get_section(config.config_ini_section, {}),
        prefix=&quot;sqlalchemy.&quot;,
        poolclass=pool.NullPool,
    )

    with connectable.connect() as connection:
        schema_name = SCHEMA_SALES
        context.configure(
            connection=connection,
            target_metadata=target_metadata,
            version_table_schema=schema_name,
            include_object=include_object,
            include_schemas=True
        )

        with context.begin_transaction():
            context.execute(f&quot;SET search_path TO {schema_name}&quot;)
            context.run_migrations()


if context.is_offline_mode():
    run_migrations_offline()
else:
    run_migrations_online()
</code></pre>
<ol start="10">
<li>create migration file by alembic for schema like hr</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic -c alembic/hr/alembic.ini revision --autogenerate -m &quot;Initial user migration&quot;
</code></pre>
<ol start="11">
<li>migrate the generated migration file for schema like hr</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic -c alembic/hr/alembic.ini upgrade head
</code></pre>
<ol start="12">
<li>downgrade migrated migration for a schema like hr</li>
</ol>
<pre><code>(env) atul@atul-Lenovo-G570:~/fasterp$ alembic -c alembic/hr/alembic.ini downgrade -1
</code></pre>
</div>
      </div>
   </div>
</div>

<br>

<div class="container-fluid ftr">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h2 class="ftr-h4">About Us</h2>
            <p class="ftr-p">Comsysapp.com is an educational website. Students and software developers can learn programming language tutorials. Comsysapp is very useful for beginners and professional developers. Comsysapp provides tutorial in easy language. Comsysapp.com has focus on simplicity.</p>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="ftr-h4">Services</h2>
            <p class="ftr-p">Comsysapp.com provides free tutorials like c, html, css, etc. All tutorials are free for beginner and professionals.</p>
        </div>
    </div>
    <hr>
    <div class="row row-mr-t">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="ftr-h4">Terms of Use</h2>
            <p class="ftr-p">comsysapp.com is not responsible for any mistake. We are not responsible if information made available on our website is incomplete or invalid. But comsysapp.com always try for zero-zero mistake.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="ftr-h4">Privacy policy</h2>
            <p class="ftr-p">comsysapp.com does not collect any data from users. We use Google AdSense advertising on our website. We never ask personal or private information.</p>
        </div>
    </div>
    <hr>
    <div class="row row-mr-t">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="ftr-h4">Sitemap</h2>
            <a class="ftr-p" href="https://www.comsysapp.com/sitemap.xml">sitemap</a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            
        </div>
    </div>    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 akt-cprt">
            <p>copyright &COPY; 2023</p>
        </div>
    </div>    
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js?v=1.70"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js?v=1.70"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js?v=1.70"></script>
<script src="{{url_for('static',path='/assets/js/backend.js')}}?v=1.70" ></script>
<script src="{{url_for('static',path='/assets/js/akt-menu-root.js')}}?v=1.70"></script>
</body>
</html>